{% extends 'base_v2.html' %}
{% load static %}


{% block title %} About {{block.super}}{% endblock %}

{% block head_extras %}{% endblock %}

{% block content %}

<h3 class="pb-4 mb-4 font-italic border-bottom">
	About us
</h3>

<div class="row blog-post">
	<div>
		
		<h2 class="blog-post-title">Who are we</h2>
		<p class="blog-post-meta lead">Detailed explanation</p>
		
	</div>
</div>
<div class="row blog-post">
	<div>
		
		<h2 class="blog-post-title">What are we doing</h2>
		<p class="blog-post-meta lead">Detailed explanation</p>
		
	</div>
</div>
<div class="row blog-post">
	<div>
		
		<h2 class="blog-post-title">Source of Information</h2>
		<p class="blog-post-meta lead">Detailed explanation</p>
		
	</div>	
</div>

{% endblock %}
