{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{% block title %}Simple wedding Movement{% endblock %}</title> <!-- MAX 70 Chars-->
	{% block meta_tags %}{% endblock %}

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">

	<!-- Bootstrap core CSS -->
	{% block head_extras %}{% endblock %}
	<!-- Bootstrap core CSS -->
	<!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	{% if production %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158060116-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-158060116-1');
	</script>
	{% endif %}

	<style type="text/css">
		html {
			position: relative;
			min-height: 100%;
		}
		.link-box{
			background-color: #FFFFFF;
		}
		.extra-text{
			color: #A8A8A8;
		}
		#content {
			padding-bottom: 50px;
			background-color: {% if article.publish == False %} #F4B9AD {% else %} #CCEAD4 {% endif%}; 
		}
	</style>
</head>

<body>

	<!-- Navigation -->
	{% include 'navbar.html' %}

	<div id="content">
		<!-- Page Content -->
		{% block content %}
		{% endblock %}
	</div>

	<!-- Footer -->
	{% include 'footer.html' %}

	<!-- Bootstrap core JavaScript -->
	<!-- <script src="vendor/jquery/jquery.slim.min.js"></script> -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.8.2/marked.min.js" integrity="sha256-6Om9HYjLO4iZmEyM/7oAv7GW1WzACqQ4PV51bTgnioI=" crossorigin="anonymous"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			// making the content space full height. fill up device;'s space.
			var screen_height = screen.height + "px"
			document.getElementById("content").style.minHeight = screen_height;

			// content markdown for blogs details and blog editor preview
			$('.content-markdown').each(function(){
				var content = $(this).text()
				var markedContent = marked(content);
				$(this).html(markedContent)
				$("#preview-content img").each(function(){
					$(this).addClass('custom-img-responsive');
				});
			})

			var titleInput = $("#id_title")
			function setTitle(value){
				$("#preview-title").text(value)
			}

			setTitle(titleInput.val())
			titleInput.keyup(function(){
				var newTitle = $(this).val()
				setTitle(newTitle)
			})


			var contentInput = $("#wmd-input-id_detail")
			function setContent(value){
				var markedContent = marked(value)
				$("#preview-content").html(markedContent)
				$("#preview-content img").each(function(){
					$(this).addClass('img-responsive')
				})
			}
			setContent(contentInput.val())
			contentInput.keyup(function(){
				var newContent = $(this).val()
				setContent(newContent)
			})

			
		})
	</script>

</body>

</html>
