{% extends 'base.html' %}
{% load static %}


{% block title %}
Frequently Asked Questions | Simple wedding Movement
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5" style="color: #565656">Frequently Asked Questions</h1>
      <p class="lead">Most popular questions asked about the simple weddings</p>
    </div>
  </div>
</div>

{%comment%}<!-- <section class="col-lg-6 offset-lg-3 col-sm-12 col-md-12">
  <div class="list-group list-group-flush">
    
  </div>
</section> -->{%endcomment%}
{% endblock %}
