{% extends 'base.html' %}
{% load static %}


{% block title %}
Frequently Asked Questions | Simple wedding Movement
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1 class="mt-5" style="color: #565656">Frequently Asked Questions</h1>
			<p class="lead">Most popular questions asked about the simple weddings</p>
		</div>
	</div>
</div>

<section class="col-lg-6 offset-lg-3 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
	<div id="accordion">
		<!-- First Question -->
		<div class="card">
			<div class="card-header" id="headingOne">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						<b>QUESTION 1</b> Verse 24:61 talks about some relations where I can go and eat. Imagine nikah ceremony is happening in any of these mentioned relatives houses. Why I should put a condition on it, that they shouldn’t invite many people, they shouldn’t give gifts to their daughter etc etc ??
					</button>
				</h5>
			</div>

			<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body">
					<p>
						First of all we should know that eating at the said places (as mentioned above in verse 24:61) is not un-conditional…. In many other verses Allah condemned clearly not to consume any meals / feast if certain conditions arises...
					</p>
					<p>
						For instance, "AND DEVOUR NOT one another's possessions wrongfully" (Al-Qur'an-2:188). Please tell, who is not aware of today's innovative wedding feast / rukhsati ka khana becomes a big affliction (فتنہ) in our society.
						<br>
						Allah SOT mentioned that
					</p>
					
					<blockquote>
						"For oppression /affliction (فتنہ) is even worse than killing. (Al-Qur'an- 21:191)"
					</blockquote>
					<p>
						If one accepts all above are valid points then again Qur'an guides us what should we do in such conditions. But rather help one another in furthering virtue and God-consciousness, and do not help one another in furthering evil and enmity Al-Qur'an- last part of 5:2.
						<br>
						And that there might grow out of you a community (of people) who invite unto all that is good, and enjoin the doing of what is right and forbid the doing of what is wrong: and it is they, they who shall attain to a happy state! (Al-Qur'an-3:104)
					</p>
				</div>
			</div>
		</div>
		<!-- Second Question -->
		<div class="card">
			<div class="card-header" id="headingTwo">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						<b>Question 2</b> Does Quran restricts on feasting people on any occasion and does it put restriction on number of invitees ??
					</button>
				</h5>
			</div>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<p>Same answer as above with an exception that gathering 100s of people in function hall with 10s of dishes is not a part of "An'nikah min sunnati".</p>
					<br>
					<p>There is not a single historical event which supports this feast. It is the ritual of Hindus which we have adapted wholeheartedly.</p>
					<br>
					<p><b>Hadees:</b> Whoever imitates a people then it would be classed as such them.(Muttafiq alaih)</p>
				</div>
			</div>
		</div>
		<!-- Third Question -->
		<div class="card">
			<div class="card-header" id="headingThree">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						<b>Question 3</b> Does Quran restricts someone from giving household items, furniture and utensils to their own daughters at the time of marriage ?
					</button>
				</h5>
			</div>
			<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
				<div class="card-body">
					<p>Yes, If any ritiual turns into dangerous situation in the society Qur'an strictly warned in many places For instance, Do not spread corruption on earth after it has been so well ordered.</p>
					<p>And call unto Him with fear and longing: verily, God's grace is ever near unto the doers of good! (Al-Qur'an- 7:56) Our aim is to draw attention of that corrupted act.</p>
				</div>
			</div>
		</div>

		<!--  Fourth Question -->
		<div class="card">
			<div class="card-header" id="heading_Fourth">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_Fourth" aria-expanded="false" aria-controls="collapse_Fourth">
						<b>Question 4</b> As long as Nikah is considered it’s a valid thing happening and if I go in any Nikah upon someone’s invitation, attend it : give them greetings and walk out. Which command of God prohibits me from doing the above?
					</button>
				</h5>
			</div>
			<div id="collapse_Fourth" class="collapse" aria-labelledby="heading_Fourth" data-parent="#accordion">
				<div class="card-body">
					<p>If you go and just come back from that function without having meals no-one will observe/care you. If one Secondly, Going in such party is is similar to eat a top-piece of cake which is placed on Trash.</p>
				</div>
			</div>
		</div>

		<!--  Fifth Question -->
		<div class="card">
			<div class="card-header" id="heading_Fifth">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_Fifth" aria-expanded="false" aria-controls="collapse_Fifth">
						<b>Question 5</b> God asks His servants to maintain Kinship. Every culture has a way of understanding things and behavior of others. Let’s say if I don’t go in someone marriage (a blood relative) and it is a sign of breaking relationship in my culture. shouldn’t I be careful ??
					</button>
				</h5>
			</div>
			<div id="collapse_Fifth" class="collapse" aria-labelledby="heading_Fifth" data-parent="#accordion">
				<div class="card-body">
					<p>Keeping relationship with family is not un-conditional.. If relatives goes behaves / order something which is against Qur'an then cutting kinship will becomes obligatory (regardless of our parents)</p>
					<p>Al-Qur'an-9:24 Say: "If your fathers and your sons and your brothers and your spouses and your clan, and the worldly goods which you have acquired, and the commerce whereof you fear a decline, and the dwellings in which you take pleasure - <b>[if all these] are dearer to you than God and His Apostle and the struggle in His cause, then wait until God makes manifest His will and [know that] God does not grace iniquitous folk with His guidance."</b> Pls pay special attention on bold letters</p>
				</div>
			</div>
		</div>

		<!--  Sixth Question -->
		<div class="card">
			<div class="card-header" id="heading_Sixth">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_Sixth" aria-expanded="false" aria-controls="collapse_Sixth">
						<b>Question 6</b> Unnecessarily why I should attempt to cut off relationship with someone very close to me who expects me to be in his daughters marriage and in verse 2:27 God doesn’t seem to be happy about such an effort. Talking to people, conveying them the message to make marriages simple can be an effort but how Going to any marriage event becomes HARAAM that I should make an AHED of it ??
					</button>
				</h5>
			</div>
			<div id="collapse_Sixth" class="collapse" aria-labelledby="heading_Sixth" data-parent="#accordion">
				<div class="card-body">
					<p>Answer for the first part is in Al-Qur'an- 9:24 (as mentioned in answer number 5) Answer for the second part of your question is in Al-Qur'an (last part of verse)-5:2 </p>
					<p>And cooperate in righteousness and piety, but do not cooperate in sin and aggression Answer for the last part your question... Written Ahed / pledge is made to motivate others in this mission... Otherwise, we most of us are making Ahed daily in front of ALLAH in Dua-e qunoot that "wa naqlo'oo wa natruku may'yaf jurk" (Translation: "we alienate and forsake those who disobey You.")</p>
					<p>Now one small Question for you. If you are so dare to commit these words with ALLAH every night before going to bed (not only for oppressive wedding peoples but for all those who disobeys YOU) THEN WHY YOU ARE SO HESITANT TO GIVE A PART OF THAT COMMITMENT IN WRITTEN (For the sake of ALLAH hence, motivate to others)??</p> 
					<p>Remember, basically, You are not doing this for your dear or nears in order to boycott them but you are actually refraining to attend such weddings because you don't want to be the part of "al-ismi wal udwaan "Pls refer Al-Quran last part of Surah ma'edah, verse-2</p>
				</div>
			</div>
		</div>

		<!-- TEMPLATE _NUMBER -->
<!-- 		<div class="card">
			<div class="card-header" id="heading_NUMBER">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_NUMBER" aria-expanded="false" aria-controls="collapse_NUMBER">

					</button>
				</h5>
			</div>
			<div id="collapse_NUMBER" class="collapse" aria-labelledby="heading_NUMBER" data-parent="#accordion">
				<div class="card-body">

				</div>
			</div>
		</div> -->
	</div>
</section>
{% endblock %}
