{% load static %}
<div class="nav-scroller py-1 mb-2">
	<nav class="nav d-flex justify-content-between">
		<a class="p-2 text-muted" href="{% url 'core:blog' %}">Blog</a>
		<a class="p-2 text-muted" href="{% url 'faq_v2' %}">FAQs</a>
		<a class="p-2 text-muted" href="{% url 'about' %}">About us</a>
		<!-- <a class="p-2 text-muted" href="{% url 'contact' %}">Contact us</a> -->
		<p class="p-2 text-muted">Contact us</p>
		<p class="p-2 text-muted">Media</p>
		<!-- <a class="p-2 text-muted" href="{% url 'media' %}">Media</a> -->
		<a class="p-2 text-muted" href="http://www.khalifatullahmehdi.info/">Khalifatullah Mehdi</a>
		<!-- <a class="p-2 text-muted" href="#">Core Principles</a> -->
		<p class="p-2 text-muted">Core Principles</p>
		<a class="p-2 text-muted" href="{% url 'roadmap' %}">RoadMap</a>
		<!-- <a class="p-2 text-muted" href="#">name</a> -->

	</nav>
</div>